=turbo_frame_tag librairy_book do
  %div.border-2
    %div.col
      %span.font-bold Title :
      = librairy_book.title
    %div.col
      %span.font-bold Availability :
      = librairy_book.status
    %div.col
      %span.font-bold Description :
      = librairy_book.description
    %div.col
      %span.font-bold Status Date :
      = librairy_book.status_date